{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tom Essentielle{% block titre %}-Accueil{% endblock %}</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/logo.jpg' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 min-vh-100">
<header class="d-flex flex-column justify-content-center align-items-center text-center">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container-fluid d-flex flex-column align-items-center text-center">
            <a href="{% url 'accueil' %}">
                <img src="{% static 'images/logo.jpg' %}" alt="Logo Tom Essentielle" class="logo">
                <p class="slogan">Votre Bien-être du Corps et de l'Esprit</p>
            </a>
            <button class="navbar-toggler mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav d-flex gap-sm-4 mt-3 mt-sm-2">
                    <a href="{% url 'accueil' %}">Accueil</a>
                    <a href="">Prestations</a>
                    <a href="">Boutique</a>
                    <a href="">Blog</a>
                    <a href="">Collaborateurs</a>
                </div>
            </div>

        </div>
    </nav>
</header>
<main class="container-fluid flex-grow-1">
    <div class="row h-100">
        <div class="gauche col-12 col-sm-2">
            {% block gauche %}{% endblock %}
        </div>
        <div class="milieu col-12 col-sm-8">
            <div class="d-flex justify-content-between">
                {% if user.is_authenticated %}
                    <a class="welcome"
                       href="">Bienvenue</a>
                    <a class="btn btn-custom" href="">Déconnexion</a>
                {% else %}
                    <a class="btn btn-custom" href="">Connexion</a>
                    <a class="btn btn-custom" href="">Inscription</a>
                {% endif %}
            </div>
            {% block milieu %}{% endblock %}
        </div>
        <div class="droite d-none d-sm-block col-sm-2">
            {% block droite %}{% endblock %}
        </div>
    </div>

</main>
<footer class="d-flex flex-column justify-content-center align-items-center">
    <div class="entreprise mt-2 mb-2">
        <span>TOM ESSENTIELLE</span>
    </div>
    <div class="adresse text-center mb-2">
        <span>16 rue Jules Védrines<br>
            26140 Saint Rembert d'Albon<br>
            06-65-96-29-52<br>
            tom.essentielle@gmail.com</span>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center mb-2">
        <a href="">Conditions générales de ventes et d'utilisation</a>
        <a href="">Mentions légales</a>
        <a href="">Politique de confidentialité</a>
    </div>
    <div class="copy w-100 text-center">
        © 2025 - Tom Essentielle
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
        integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
        crossorigin="anonymous"></script>
</body>
</html>